<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body dir="ltr">
    <header>
        <a href="/">Admin</a>
    </header>
    <div >
        @RenderBody()
    </div>
</body>
</html>
