@model IEnumerable<Category>;

<h3>Product Categories</h3>

<ul class="list-group">

    @foreach(var item in Model)
    {
        <li class="list-group-item" href="#" >
            <a href="/Group/@(item.Id)"> @item.Name</a>
        </li>
    }
</ul>


