@* @model IEnumerable<Category>;

<h3>Product Categories</h3>

<ul class="list-group">

    @foreach(var item in Model)
    {
        <li class="list-group-item" href="#" >
            <a href="/Group/@(item.Id)/@(item.Name)"> @item.Name</a>
        </li>
    }
</ul>
 *@



@model IEnumerable<Category>;

<h3 class="text-dark mb-3">Product Categories</h3>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a href="/Group/@(item.Id)/@(item.Name)" class="text-decoration-none text-primary">
                @item.Name
            </a>
        </li>
    }
</ul>


