@model IEnumerable<Category>;

<h1>Groups of Products</h1>

<ul class="list-group">

    @foreach(var item in Model)
    {
        <li class="list-group-item" href="#" >
            <a href="#"> @item.Name</a>
        </li>
    }

</ul>


