@page
@model NeoStore.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>List of items</h1>
<hr />

<p>
    <a asp-page="/Admin/Add">Add new product</a>
</p>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Instructions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    <img src="~/images/@(product.Id).jpg" 
                         style="max-width: 50px; border: 3px solid blue"/>
                </td>
                <td>@product.Name</td>
                <td>@product.Item.Price</td>
                <td>
                  <a href="">Edit</a>
                  <a href="">Remove</a>

                </td>
                
            </tr>
        }
    </tbody>
</table>
